{% load static %}
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage - Stock Sniper Trading</title>
  <link rel='shortcut icon' href="{% static 'images/nav/fav-icon.png'%}" type='image/x-icon'>
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>
<body>

  <!-- === header section start === -->
  <header class="header">
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="img-fluid brand-logo" src="{% static 'images/nav/Icon.png' %}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-xl-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calender
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">1 On 1 Session</a></li>
                <!-- <li><a class="dropdown-item" href="#">Live Sessions</a></li>
                <li><a class="dropdown-item" href="#">Economic Calender</a></li>
                <li><a class="dropdown-item" href="#">Earning Reports</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Memberships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sniper_education' %}">Sniper Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
            </li>
            <li class="nav-item image">
              <img src="{% static 'images/nav/vertical-line-copy.png' %}" alt="vertical-bots">
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item">
              <a  href="{% url 'register' %}" class="nav-link btn custom-red-button">Join Us</a>
            </li>
            {% endif %}
          
            <li class="nav-item">
              <a class="nav-link cart-btn"  href="#"><i class="fal fa-shopping-cart"></i> <sup>0</sup></a>
            </li>
          </ul>
        </div>
      </div>  
    </nav>
  </header>
  <!-- ===//end of header section === -->




  <!-- === membership program start === -->
  <section class="membership-program" style="padding-bottom: 0; position: relative;">
{% if courses %}


    <div class="left_sidebar">
      <div class="close_icon">
        <a href="####"><img src="{% static 'images/sidebar/delete-order.png' %}" alt="icon">Courses</a><br>
        <br>
        <p>Your progress: <b>0</b> of <b>10</b> (0%) <button><img src="{% static 'images/sidebar/check.png' %}" alt="icon"> Mark as Complete</button></p>
      </div>
      
      <ul class="sidebar_item">
        
        {% for crs in courses %}  
        <li class="sidebar_single_item">
    
          <a href="##"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>{{crs.title}} --- {{crs.status}} </span></a>
          

          <!-- <a href="#"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>{{crs.lesson}}</span></a> -->
        </li>
        
      
         <!-- <li class="sidebar_single_item">
          <a href="quiz-1.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>{{crs.quiz}}</span></a>
        </li> -->
        {% endfor %}
       
        <!-- <li class="sidebar_single_item">
          <a href="quiz-1.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-2.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>How are Currency’s Traded?</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-2.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-3.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>What are Currency Pairs</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-3.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-4.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>How are Currency Pairs Quoted</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-4.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-5.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>What are Majors, Minors, and Exotics?</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-5.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-6.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>What are Indicies and Commodities?</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-6.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-7.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>What is the Best/Worst times to Trade?</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-7.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-8.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>What are the 3 Market Movements?</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-8.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-9.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>Important Words to know</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-9.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="lession-10.html"><img src="{% static 'images/sidebar/education01.png' %}" alt="icon"><span>Risks of Forex</span></a>
        </li>
        <li class="sidebar_single_item">
          <a href="quiz-10.html"><img src="{% static 'images/sidebar/quiz1.png' %}" alt="icon"><span>Quiz 1</span></a>
        </li> -->
      </ul>

    </div>

{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="{% static 'images/courses/What-is-forex01.jpg' %}" width="100%" alt="icon">
          <br>
          <img src="{% static 'images/courses/What-is-forex-1.png' %}" alt="icon">
          <p>Forex trading is like the currency exchange you may do while traveling. An individual buys one currency and sells another, and the conversation rate continually fluctuates based on supply and demand. Currencies are traded in the foreign exchange market, an international marketplace that is open 24 hours a day 5 days a week Monday through Friday. All Forex trading is conducted over the counter (OTC), indicating there’s no physical exchange. A global network of banks and other financial institutions oversee the Forex market.</p>
          <br>
          <br>
        </div>
      </div>
    </div>



  </section>
  <!-- ===//end of membership program === -->




  <!-- === footer section start === -->
  <footer class="footer">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-6">
          <div class="logo">
            <img class="img-fluid" src="{% static 'images/nav/Icon.png' %}" alt="logo">
          </div>
          <div class="text">
            <p>
              At SST, we will mentor you to become a
              more consistent and profitable trader, by
              teaching you technical and fundamental
              analysis. <br> <br>
              We start with the basics and teach you
              step by step how to read and interpret
              charts, learn various trading strategies, and
              help understand the psychology behind
              trading. Take your trading to the next level
              and join the fast growing sniper team.
              <br><br>

              © 2022
              All Rights Reserved for Stock Sniper Trading
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-4">
          <div class="navigation-links">
            <h4>Navigation</h4>

            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Calender</a></li>
              <li><a href="#">Membership</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-8">
          <div class="contact-info">
            <h4>Contact Details</h4>
            <span>Email Address</span>
            <a href="mailto:stocksnipertrading@gmail.com">stocksnipertrading@gmail.com</a>
          </div>
          <div class="social-link">
            <h4>Stay Connected</h4>
            <div class="icons">
              <ul>
                <li><a href="#"><img src="{% static 'images/social-links/telegram.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/youtube.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/insta.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/fb.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/twitter.png' %}" alt="icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ===//end of footer section === -->



  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    // dropdown menu show/hide on hover start
    (function () {
      const dropdown = document.querySelector('.dropdown');
      const navbarDropdown = document.querySelector('#navbarDropdown');
      const dropdownMenu = document.querySelector('.dropdown-menu');

      dropdown.addEventListener('mouseenter', function(){
        navbarDropdown.classList.add('show');
        dropdownMenu.classList.add('show');
      })
      dropdown.addEventListener('mouseleave', function(){
        navbarDropdown.classList.remove('show');
        dropdownMenu.classList.remove('show');
      })
    })();
    // dropdown menu show/hide on hover end
  </script>
</body>
</html>