 {% load static %}
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage - Stock Sniper Trading</title>
  <link rel='shortcut icon' href="{% static 'images/nav/fav-icon.png' %}" type='image/x-icon'>
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/courses.css' %}"> 
</head>
<body>

  <!-- === header section start === -->
  <header class="header">
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="img-fluid brand-logo" src="{% static 'images/nav/Icon.png' %}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-xl-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calender
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'oneonone_reservation' %}">1 On 1 Session</a></li>
                <!-- <li><a class="dropdown-item" href="#">Live Sessions</a></li>
                <li><a class="dropdown-item" href="#">Economic Calender</a></li>
                <li><a class="dropdown-item" href="#">Earning Reports</a></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'all_memberships' %}">Memberships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sniper_education' %}">Sniper Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store_homepage' %}">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
            </li>
            <li class="nav-item image">
              <img src="{% static 'images/nav/vertical-line-copy.png' %}" alt="vertical-bots">
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item">
              <a  href="{% url 'register' %}" class="nav-link btn custom-red-button">Join Us</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>  
    </nav>
  </header>
  <!-- ===//end of header section === -->







  <!-- === membership program start === -->
  <section class="membership-program" style="padding-bottom: 0;">
    <div class="container">
      <div class="int_forex_area">
        <div class="forex_title">
         <h1>Introduction to Forex</h1>
       </div>
       <ul class="forex_tag">
        <li><a href="#">Categories</a></li>
        <li>Introduction to Forex</li>
      </ul>
      <div class="row">
        <div class="col-xl-8 col-lg-12">
          <div class="forex_left">
            <div class="forex_left_img">
              <img src="{% static 'images/img2.png' %}" alt="img">
            </div>

            <div class="">

             <div class="forex_tabs">
               <input id="forex_tab1" type="radio" name="tabs" checked>
               <label for="forex_tab1">Course Info</label>
               <input id="forex_tab2" type="radio" name="tabs">
               <!-- <label for="forex_tab2">Curriculum</label> -->
               <div class="forext_tab_content">
                <div id="forex_content1">
                  <h1>What will I learn</h1>
                  <ul>
                    {% if lessons%}
                    {% for lesson in lessons %}
                  
                    <li><img src="{% static 'images/sidebar/check.png' %}" alt="icon">{{lesson.title}}</li>
                  
                  {% endfor %}
                  {% endif %}
                  </ul>
                </div>

                <div id="forex_content2">
                  content2
                </div>
              </div>

            </div>

          </div>


        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="forex_right">
          <p><img src="{% static 'images/sidebar/wishlist.png' %}" alt="icon">Wishlist</p>
          <div class="forex_progress">
            <p>Course Progress</p>
            <ul>
              {% if count %}
              {% if done_lessons %}
              <li>{{done_lessons}}/{{count}}</li>
              {% endif %}
              {% endif %}
              {% if completed %}
              <li>{{completed}}% Complete</li>
              {% endif %}
            </ul>
            <span class="forex_progress_bg">
              <span style="width: 0%;" class="forex_progress_percent"></span>
            </span>
          </div>
          <div class="forex_box">
            <div class="forex_box_top">
              <a href="{% url 'all_courses_ch1' %}">Start Learning</a>
              <p class="forex_complete"><img src="{% static 'images/sidebar/caution.png' %}" alt="icon">Complete all lessons to mark this course as complete</p>
              <p class="forex_enrolled"><img src="{% static 'images/sidebar/caution.png' %}" alt="icon"><span>You enrolled in this course on <b>April 8, 2022</b></span></p>
            </div>
            <div class="forex_box_bottom">
              <table>
                <tr>
                  <td><img src="assets/images/sidebar/bar-chart.png' %}" alt="icon">Level</td>
                  <td>Beginner</td>
                </tr>
                <tr>
                  <td><img src="{% static 'images/sidebar/eductation-cap.png' %}" alt="icon">Total Enrolled</td>
                  <td>416</td>
                </tr>
                <tr>
                  <td><img src="{% static 'images/sidebar/clock.png' %}" alt="icon">Duration</td>
                  <td>3 hours</td>
                </tr>
                <tr>
                  <td><img src="{% static 'images/sidebar/certificate.png' %}" alt="icon">Certificate</td>
                  <td>Certificate of completion</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</section>
<!-- ===//end of membership program === -->


  <!-- === footer section start === -->
  <footer class="footer">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-6">
          <div class="logo">
            <img class="img-fluid" src="{% static 'images/nav/Icon.png' %}" alt="logo">
          </div>
          <div class="text">
            <p>
              At SST, we will mentor you to become a
              more consistent and profitable trader, by
              teaching you technical and fundamental
              analysis. <br> <br>
              We start with the basics and teach you
              step by step how to read and interpret
              charts, learn various trading strategies, and
              help understand the psychology behind
              trading. Take your trading to the next level
              and join the fast growing sniper team.
              <br><br>

              © 2022
              All Rights Reserved for Stock Sniper Trading
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-4">
          <div class="navigation-links">
            <h4>Navigation</h4>

            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <!-- <li><a href="#">About Us</a></li> -->
              <li><a href="{% url 'oneonone_reservation' %}">Calender</a></li>
              <li><a href="{% url 'all_memberships' %}">Membership</a></li>
              <li><a href="{% url 'store_homepage' %}">Store</a></li>
              <li><a href="{% url 'contact_us' %}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-8">
          <div class="contact-info">
            <h4>Contact Details</h4>
            <span>Email Address</span>
            <a href="mailto:stocksnipertrading@gmail.com">stocksnipertrading@gmail.com</a>
          </div>
          <div class="social-link">
            <h4>Stay Connected</h4>
            <div class="icons">
              <ul>
                <li><a href="https://t.me/stocksnipertrading"><img src="{% static 'images/social-links/telegram.png' %}" alt="icon"></a></li>
                <li><a href="https://www.youtube.com/c/StockSniperTrading"><img src="{% static 'images/social-links/youtube.png' %}" alt="icon"></a></li>
                <li><a href="https://www.instagram.com/stocksnipertrading/"><img src="{% static 'images/social-links/insta.png' %}" alt="icon"></a></li>
                <li><a href="https://www.facebook.com/stocksnipertrading/"><img src="{% static 'images/social-links/fb.png' %}" alt="icon"></a></li>
                <li><a href="https://twitter.com/sstradingcorp"><img src="{% static 'images/social-links/twitter.png' %}" alt="icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ===//end of footer section === -->
  


  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    // dropdown menu show/hide on hover start
    (function () {
      const dropdown = document.querySelector('.dropdown');
      const navbarDropdown = document.querySelector('#navbarDropdown');
      const dropdownMenu = document.querySelector('.dropdown-menu');

      dropdown.addEventListener('mouseenter', function(){
        navbarDropdown.classList.add('show');
        dropdownMenu.classList.add('show');
      })
      dropdown.addEventListener('mouseleave', function(){
        navbarDropdown.classList.remove('show');
        dropdownMenu.classList.remove('show');
      })
    })();
    // dropdown menu show/hide on hover end
  </script>
</body>
</html>