{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage - Stock Sniper Trading</title>
  <link rel='shortcut icon' href="{% static 'images/nav/fav-icon.png' %}" type='image/x-icon'>
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/checkout-table.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- === header section start === -->
  <header class="header">
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="img-fluid brand-logo" src="{% static 'images/nav/Icon.png' %}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-xl-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calender
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">1 On 1 Session</a></li>
                <!-- <li><a class="dropdown-item" href="#">Live Sessions</a></li>
                <!-- <li><a class="dropdown-item" href="#">Economic Calender</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Earning Reports</a></li> --> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'all_memberships' %}">Memberships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sniper_education' %}">Sniper Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store_homepage' %}">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
            </li>
            <li class="nav-item image">
              <img src="{% static 'images/nav/vertical-line-copy.png' %}" alt="vertical-bots">
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item">
              <a  href="{% url 'register' %}" class="nav-link btn custom-red-button">Join Us</a>
            </li>
            {% endif %}

            <!-- <li class="nav-item">
              <a class="nav-link cart-btn"  href="#"><i class="fal fa-shopping-cart"></i> <sup>0</sup></a>
            </li> -->
          </ul>
        </div>
      </div>  
    </nav>
  </header>
  <!-- ===//end of header section === -->
 



  <!-- === membership program start === -->
  <section class="membership-program">
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-heading pb-2">Checkout</h2>
      </div>
      <div class="devider text-center">
        <img class="img-fluid w-100" src="{% static 'images/membership/dot.png' %}" alt="dots">
      </div>
		
		<div id="spacer-checkout"></div>
		
		
		<p>
		
		<div class="table100 ver5 m-b-110">
<form action="selected_package" method="POST">
  {% csrf_token %}
      <table data-vertable="ver5">
<thead>
<tr class="row100 head">
<!-- <th class="column100 column1" data-column="column1">Remove</th> -->
<th class="column100 column2" data-column="column2">Product</th>
<th class="column100 column3" data-column="column3">Price</th>
<th class="column100 column4" data-column="column4">Quantity</th>
<!-- <th class="column100 column5" data-column="column5">Subtotal</th> -->
<th class="column100 column5" data-column="column6">Tax</th>
</tr>
</thead>
{% if package%}
{% for p in package %}
<tbody>

  <tr class="row100">
<!-- <td class="column100 column1" data-column="column1"><img src="{% static 'images/delete-order.png' %}" alt="delete"></td> -->
<td class="column100 column2" data-column="column2"><input type="text"  style="background-color: transparent; color:white; display: block; width: 100%;height: 100%;" name="title" id="title" value={{ p.title }}>&nbsp;</td>
<td class="column100 column3" data-column="column3"><input type="text"  style="background-color: transparent; color:white; display: block; width: 100%;height: 100%;" name="price" id="price" value="${{ p.price }} /Monthly">&nbsp; </td>
<td class="column100 column4" data-column="column4">1&nbsp;</td>
<!-- <td class="column100 column5" data-column="column5">$49.99 / month</td> -->
<td class="column100 column5" data-column="column6">${{p.tax}} / month</td>

</tbody>
</table>
			<div class="spacer-checkout"></div>
						
			<div class="coupon-code">
			<!-- <form>
  			<input type="text" id="fname" name="fname" value="Coupon Code">
			</form> -->
      <!-- <input type="text" name="title" id="title" value={{ p.title }}>
      <input type="text" name="price" id="price" value={{ p.price }}> -->
      <button class="btn btn-lg btn-primary btn-block" type="submit"> SUBMIT </button>
    </div>
			
			<!-- <div class="update-button">
                      <a href="#" class="btn custom-red-button ">Update Cart</a>
                    </div> -->
                    

</div>
</form>
{% endfor %}
{% endif %}		
</p>
	 
      
    </div>
	
	
	
  </section>
  <!-- ===//end of membership program === -->
 

  <!-- ===//end of contact section === -->

  


  <!-- === footer section start === -->
  <footer class="footer">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-6">
          <div class="logo">
            <img class="img-fluid" src="{% static 'images/nav/Icon.png' %}" alt="logo">
          </div>
          <div class="text">
            <p>
              At SST, we will mentor you to become a
              more consistent and profitable trader, by
              teaching you technical and fundamental
              analysis. <br> <br>
              We start with the basics and teach you
              step by step how to read and interpret
              charts, learn various trading strategies, and
              help understand the psychology behind
              trading. Take your trading to the next level
              and join the fast growing sniper team.
              <br><br>
    
              © 2022
              All Rights Reserved for Stock Sniper Trading
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-4">
          <div class="navigation-links">
            <h4>Navigation</h4>

            <ul>              
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="#">Calender</a></li>
              <li><a href="{% url 'all_memberships' %}">Membership</a></li>
              <li><a href="{% url 'store_homepage' %}">Store</a></li>
              <li><a href="{% url 'contact_us' %}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-8">
          <div class="contact-info">
            <h4>Contact Details</h4>
            <span>Email Address</span>
            <a href="mailto:stocksnipertrading@gmail.com">stocksnipertrading@gmail.com</a>
          </div>
          <div class="social-link">
            <h4>Stay Connected</h4>
            <div class="icons">
              <ul>
                <li><a href="#"><img src="{% static 'images/social-links/telegram.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/youtube.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/insta.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/fb.png' %}" alt="icon"></a></li>
                <li><a href="#"><img src="{% static 'images/social-links/twitter.png' %}" alt="icon"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ===//end of footer section === -->
  


  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    // dropdown menu show/hide on hover start
    (function () {
      const dropdown = document.querySelector('.dropdown');
      const navbarDropdown = document.querySelector('#navbarDropdown');
      const dropdownMenu = document.querySelector('.dropdown-menu');

      dropdown.addEventListener('mouseenter', function(){
        navbarDropdown.classList.add('show');
        dropdownMenu.classList.add('show');
      })
      dropdown.addEventListener('mouseleave', function(){
        navbarDropdown.classList.remove('show');
        dropdownMenu.classList.remove('show');
      })
    })();
    // dropdown menu show/hide on hover end
  </script>
</body>
</html>